.logo {
    width: 50%;
    padding-bottom: 10px;
   
}

#form {
    border: 1px solid #cccccc;
    border-radius: 5px;
}

#form-container {
    margin-top: 50px;
}

.submit-btn {
    background: linear-gradient(to bottom, #f7dfa5, #f0c14b);
    box-shadow: 0 1px 0 rgba(255, 255, 255, .4) inset;
    border-color: #a88734 #9c7e31 #846a29;
}

.submit-btn:hover {
    border-color: #a88734 #9c7e31 #846a29;
    background: linear-gradient(to bottom, #f5d78e, #eeb933);
}

#form-content {
    padding: 30px 25px;
}

.lower-content {
    margin: 20px 0;
}

.help-btn:focus {
    box-shadow: none;
    text-decoration: none;
}

.arrow {
    padding-bottom: 1px;
}

#help-dropdown li {
    padding-left: 33px;
}

p.background {
    text-align: center;
    position: relative;
    z-index: 1;
    color: #767676;
    margin: 20px 0 10px 0;
}

p.background::before {
    border-top: 2px solid #dfdfdf;
    content: "";
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    bottom: 0;
    width: 95%;
    z-index: -1;
}

p.background span {
    background: #fff;
    padding: 0 15px;
}

.signup-btn {
    background: linear-gradient(to bottom, #f7f8fa, #e7e9ec);
    border-color: #adb1b8 #a2a6ac #8d9096;
}

.signup-btn:hover {
    background: linear-gradient(to bottom, #f7f8fa, #e7e9ec);
    border-color: #a2a6ac, #979aa1, #82858a;
}

.footer-links li {
    display: inline;
}

.copyright {
    color: #767677;
    text-align: center;
}





